* {
  border: 1px solid black;
  box-sizing: border-box;
}
/*  Make your body fill the whole viewport by giving it a height of 100vh. 
Set the overflow property to hidden to hide any scroll bars that appear when something extends past the viewport. */
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.background-buildings {
  width: 100%;
  height: 100%;
}
/*Center the parts of your building by turning the .bb1 element into a flexbox parent. Use the flex-direction and align-items properties to center the children.*/
.bb1 {
  width: 10%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
